<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Suconbu.Sumacon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Suconbu.Sumacon.Properties.Settings>
            <setting name="FormMainSize" serializeAs="String">
                <value>960, 540</value>
            </setting>
            <setting name="CaptureSaveDirectoryPath" serializeAs="String">
                <value>.\screencapture</value>
            </setting>
            <setting name="CaptureFileNamePattern" serializeAs="String">
                <value>{device-model}_{date}_{time}_{no}.png</value>
            </setting>
            <setting name="CaptureContinuousEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CaptureIntervalSeconds" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CaptureCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CaptureSkipDuplicateEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecordSaveDirectoryPath" serializeAs="String">
                <value>.\screenrecord</value>
            </setting>
            <setting name="RecordFileNamePattern" serializeAs="String">
                <value>{device-model}_{date}_{time}_{width}x{height}_{duration}_{no}.mp4</value>
            </setting>
            <setting name="RecordViewSize" serializeAs="String">
                <value>1/1</value>
            </setting>
            <setting name="RecordQuality" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="RecordTimestampEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecordLimitTime" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="CaptureCountEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CaptureSplitterDistance" serializeAs="String">
                <value>420</value>
            </setting>
            <setting name="RecordSplitterDistance" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="RecordLimitTimeMax" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="DeviceTemporaryDirectoryPath" serializeAs="String">
                <value>/sdcard</value>
            </setting>
            <setting name="LogFilterPriorityF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFilterPriorityE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFilterPriorityW" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFilterPriorityI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFilterPriorityD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFilterPriorityV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ControlBeep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ControlTouchProtocol" serializeAs="String">
                <value>A</value>
            </setting>
        </Suconbu.Sumacon.Properties.Settings>
    </userSettings>
</configuration>